# This is a gitignore file for this directory

code/.ipynb_checkpoints/*
*~
*.tmp
*.log
/.idea
/.ipynb_checkpoints
/__pycache__
code/__pycache__
results/*
code/.Rhistory
code/etcpy/__pycache__
code/etcpy/.ipynb_checkpoints
data/.ipynb_checkpoints/*
sandbox/*
graphs/*